APP_NAME={{.ServiceName}}
APP_VERSION=0.1.0
APP_ENV=local
HTTP_PORT={{.HTTPPort}}
LOG_LEVEL=info
LOG_FILE=logs/app.log
DB_ENABLED=false
DATABASE_URL=postgres://postgres:password@localhost:6543/postgres?sslmode=disable
OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4319
OTEL_SAMPLE_RATIO=1
METRICS_PATH=/metrics
